body {
    width: 360px;
    height: 300px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
    display: flex;
    justify-content: center;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav li a:hover {
    background-color: #000;
}

.div-container {
    display: none;
}
.active {
    display: block;
}